@import "./markdown.css";
@import "./about.css";
@import "./post.css";
@import "./container.css";
@import "./basic.css";
/* @import "../theme/prism-material-light.css"; */

html,
body,
#app {
  @apply h-full m-0 p-0;
}

html.dark {
  @apply bg-dark-300;
  color-scheme: dark;
}

:root {
  --c-bg: #fff;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
}


html.dark {
  --c-bg: #050505;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
}


::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}


#nprogress {
  @apply pointer-events-none;
}

#nprogress .bar {
  @apply fixed opacity-75 top-0 left-0 w-full h-0.5 z-50 bg-brand;
}


.blink {
  animation: blinker 1.5s none infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blinker 1.5s none infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
