.prose pre:not(.shiki) {
  @apply p-0 m-0;
}

/*
  code font style
*/
.prose .shiki {
  font-family: "DM Mono", monospace;
  font-size: 1.25em;
  line-height: 1.4;
}

/*
  pre code style
*/
.prose pre {
  color: #e5e7eb;
  overflow-x: auto;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 1em;
}

/*
  code display
*/
.prose code:before {
  @apply font-800 mr-2 text-dark;
  content: '';
}

.prose code:after{
  @apply font-800 ml-2 text-dark;
  content: '';
}

.prose code:not(pre.shiki code) {
  @apply py-4px rounded-md;
  white-space: normal;
  transition: color .5s,background-color .5s;
  font-weight: unset;
}

.prose code:not(pre.shiki code) {
  color: #c0341d;
  background-color: #fbe5e1;
  font-weight: 900;

}

.dark .prose code:not(pre.shiki code) {
  color: #97ec51;
  background-color: #101011;
  font-weight: 900;
}

/*
  code line number
*/
.prose pre.shiki {
  counter-reset: step;
  counter-increment: step 0;
}

.prose code span.line:before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115,138,148,.4)
}

/*
  remove last line
*/
.prose pre.shiki code > :last-child {
  @apply: display-none;
}
.prose pre.shiki code {
  font-weight: 400;
  white-space: pre;
  background-color: unset;
  font-size: 14px;
  display: block;
}

.prose pre code:before {
  content: none;
}

.prose pre code:after {
  content: none;
}


.prose img {
  @apply w-full;
}

.prose p {
  @apply my-2;
  line-height: 2 !important;
}

.prose ul,
.prose li p {
  @apply my-2;
}

/*
  code a link
*/
.prose a  {
  @apply underline-offset-5 underline-blue decoration-2 underline-dotted  text-c-active font-normal;
}

.prose a:hover  {
  @apply  decoration-1.5px underline-blue underline-solid;
}

main:not(.post) a.header-anchor {
  @apply hidden;
}

/*
  the background color for the dark or light theme
*/

.shiki-light {
  background: #f8f8f8 !important;
}
.shiki-dark {
  background: #0e0e0e !important;
}

/*
  hidden the light theme while the theme is dark
*/
html.dark .shiki-light {
  @apply hidden;
}

/*
  hidden the dark theme while the theme is light
*/
html:not(.dark) .shiki-dark {
  @apply hidden;
}

  /*
  markdown table of contents
*/
.prose .table-of-contents {
  position: fixed;
  top: 5rem;
  right: 0rem;
  bottom: 0rem;
  display: none;
  width: 15%;
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding-top: 4.5rem;
  padding-right: 1.375rem;
  text-align: inherit;
  font-size: 14px;
  transition: all .4s ease-out;
  opacity: 1;
  height: 75%;
}

.prose .table-of-contents:hover {
  opacity: 1;
}

.prose .table-of-contents  a:active {
  @apply: text-blue;
}


.prose .containerHeader {
  @apply text-gray-300 ml-10 mb-2;
}

/*
  a link for the table of contents
*/
.prose .table-of-contents a {
  @apply no-underline;
  font-weight: inherit;
  text-decoration: none;
  border-bottom: 1px dotted rgba(125, 125, 125, 0.3);
  transition: border 0.3s ease-in-out;
}

.prose .table-of-contents a:hover {
  border-bottom: 1px solid #000;
}

.dark  .prose .table-of-contents a {
  border-bottom: 1px dotted rgb(150 150 157 / 64%);
}

.dark .prose .table-of-contents a:hover {
  border-bottom: 1px solid rgb(175 176 248);
}

/*
  markdowm table
*/
.prose table {
  width: 100%;
  table-layout: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 16px;
  line-height: 1.4;
}
.prose thead {
  color: #111827;
  font-weight: 600;
  border-width: 1px;
  border-bottom-color: #d1d5db;
}
.prose thead th {
  vertical-align: bottom;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
  border: 1px solid #dfe2e5;
}
.prose tbody tr {
  border-width: 1px;
  border-bottom-color: #e5e7eb;
}
.prose tbody td {
  vertical-align: top;
  padding: 1em;
  border: 1px solid #dfe2e5;
}


.prose blockquote {
  @apply pl-4 pt-2px pb-2px  border-l-6px text-base not-italic rounded;
  @apply border-gray-300;
  @apply bg-gray-50;
}

.dark blockquote {
  background-color: #24272a;
  border-color: #397b60;
}

.prose :where(ul > li):not(:where(.not-prose,.not-prose *)) ::marker {
  color: rgba(209, 213, 219, 1) !important;
}

.prose h1 {
  margin: 48px 0 16px;
  border-bottom: 1px dashed  rgba(209, 213, 219, 1);
  padding-bottom: 24px;
  letter-spacing: -0.02em;
  line-height: 32px;
}

.prose span.line {
  white-space: pre-wrap;
}

.prose .highlighted-line {
  @apply bg-red-200;
  @apply dark:bg-red-900;
  transition: background-color .5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 48px);
  display: inline-block;
}

mark {
  color: #141001;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0.125rem;
  background-color: unset;
  background-image: linear-gradient(180deg,#fff,#fef58f 10.5%,#fffc68 85.29%,#fff);
  padding: 4px 4px 2px 4px;
  text-decoration-line: underline;
  text-decoration-thickness: initial;
  text-decoration-style: wavy;
  text-decoration-color: #2f68ce;
  text-underline-offset: 4px;
}

.dark mark {
  color: #1a1a1a;
  border-radius: 5px;
  background-color: rgb(239 228 105);
  background-image: unset;
  padding: 4px 4px 2px 4px;
  text-decoration-line: none;
}

.octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.octicon-header {
  vertical-align: middle;
}
