.prose pre:not(.shiki) {
  @apply p-0 m-0;
}

/*
  =================================================================
              Shiki
  =================================================================
*/
.prose .shiki {
  @apply font-mono;
  font-size: 1.25em;
  line-height: 1.4;
}

.shiki-light {
  background: #f8f8f8 !important;
}
.shiki-dark {
  background: #0e0e0e !important;
}
html.dark .shiki-light {
  @apply hidden;
}

html:not(.dark) .shiki-dark {
  @apply hidden;
}



/*
  pre code style
*/
.prose pre {
  color: #e5e7eb;
  overflow-x: auto;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 1em;
}

/*
  code display
*/
.prose code:before {
  @apply font-800 mr-2 text-dark;
  content: '';
}

.prose code:after{
  @apply font-800 ml-2 text-dark;
  content: '';
}

.prose code:not(pre.shiki code) {
  @apply py-3px rounded-md;
  white-space: normal;
  transition: color .5s,background-color .5s;
  font-weight: unset;
}

.prose code:not(pre.shiki code) {
  color: #c0341d;
  background-color: #fbe5e1;
  font-weight: 900;

}

.dark .prose code:not(pre.shiki code) {
  color: #97ec51;
  background-color: #101011;
  font-weight: 900;
}

/*
  code line number
*/
.prose pre.shiki {
  counter-reset: step;
  counter-increment: step 0;
}

.prose code span.line:before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115,138,148,.4)
}

/*
  remove last line
*/
.prose pre.shiki code > :last-child {
  @apply: display-none;
}
.prose pre.shiki code {
  font-weight: 400;
  white-space: pre;
  background-color: unset;
  font-size: 0.9em;
  display: block;
}

.prose pre code:before {
  content: none;
}

.prose pre code:after {
  content: none;
}


.prose img {
  @apply w-full;
}

.prose p {
  @apply my-2;
  line-height: 2 !important;
}

.prose ul,
.prose li p {
  @apply my-2;
}

/*
  code a link
*/
.prose a  {
  /* @apply underline-offset-5 underline-blue decoration-2 underline-dotted  font-normal; */
  border-bottom: 1px dashed #a1a1aa;
  border-style: dashed;
  color: inherit;
  font-weight: 500;
  padding-bottom: 2px;
  text-decoration: none;
}

.prose a:hover  {
  border-styles: solid;
  color: #1a62ff;
  border-bottom: 1px solid #1a62ff;
  @apply  decoration-1.5px underline-blue underline-solid;

}

.post a.header-anchor {
  border-bottom: none;
}

.post a.header-anchor:hover {
  border-bottom: none;
}



.prose span.line {
  white-space: pre-wrap;
}

.prose .highlighted-line {
  @apply bg-red-200;
  @apply dark:bg-red-900;
  transition: background-color .5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 48px);
  display: inline-block;
}



.octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.octicon-header {
  vertical-align: middle;
}

.sourceLink {
  @apply ml-3 no-underline;
}

/*
.post .prose h1:before,
             h2:before,
             h3:before,
             h4:before,
             h5:before,
             h6:before{
  background: #000;
  color: #fff;
  padding: 5px;
  border-radius: 6px;
  margin-right: 10px;
  vertical-align: middle;
}

.post .prose h1:before{
  font-size: 0.5em;
  content: 'H1';
}
.post .prose h2:before{
  font-size: 0.45em;
  content: 'H2';
}
.post .prose h3:before{
  font-size: 0.4em;
  content: 'H3';
}
.post .prose h4:before{
  font-size: 0.35em;
  content: 'H4';
}
.post .prose h5:before{
  font-size: 0.3em;
  content: 'H5';
}
.post .prose h6:before{
  font-size: 0.1em;
  content: 'H6';
}
*/
