@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* index */
  .indexBlock {
    @apply md:text-base italic font-[600] font-serif;
  }
  .indexBlock::before {
    content: "::: ";
  }

  .indexSection {
    @apply mt-[15px] font-serif font-[600];
  }

  .indexHr {
    width: 50px;
    margin-top: 2em !important;
    margin-bottom: 1em !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  /* navbar */

  .nav-item {
    @apply flex items-center space-x-1 pr-2 hover:text-black text-muted-foreground
  }

  /* projects */
  .project-grid a.item {
    background: transparent;
    width: 350px;
  }

  .linkIcon {
    @apply font-bold text-sm opacity-50 hover:opacity-100 block transition-opacity ml-3 mt-[3px];
  }
  /* post */
  .itemLayout {
    @apply flex flex-wrap mr-4 mt-4 pb-5 justify-start;
    @apply border-gray-300 dark:border-gray-500;
  }

  .itemContent {
    @apply text-gray-400 font-mono font-[500];
    @apply transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110;
    @apply cursor-pointer leading-4 inline-block;
    padding: 7px;
    padding-left: 12px;
    font-size: 15px;
  }

  .itemCount {
    @apply relative text-base -top-2 -left-1;
    @apply text-gray-300;
  }

  .isActive {
    @apply text-black;
    background-color: #f3f3f8;
    border-radius: 6px;
  }

  .dark .isActive {
    background-color: #2e2e2e;
    border-radius: 6px;
  }

  .btnPrevNext {
    @apply bg-black border-gray-300 text-white rounded-xl py-2 px-3 relative inline-flex text-base font-medium
  }

  /* blog */
  a.itemLink {
    transition: .2s all ease-out;
    text-decoration: none;
    border-bottom: none!important;
  }

  .blogItem {
    @apply relative block rounded-xl;
  }
  .blogItem:hover {
    background-color: #e3e3e424;
  }
  .dark .blogItem:hover {
    background-color: #40404024;
  }

  .blogTitle {
    @apply font-bold text-black font-mono;
  }

  .card {
    @apply: text-gray-500;
    padding: 8px;
  }

  .blogGroup {
    height: 3em;
  }

  .blogYear {
    @apply top-[-1rem];
    position: absolute;
    bottom: 5.25rem;
    left: 1.5rem;
    font-size: 6em;
    font-weight: 900;
    opacity: 0.1;
  }

  .tagName {
    @apply inline  opacity-40 text-xs rounded-md  p-1 bg-gray-200 ml-2 mr-1;
    margin-top: -10px;
    color: #1f1f29;
  }

  .dark .tagName {
    color: #ffffff;
    background-color: #303034;
  }

  .btn {
    @apply border-gray-300 text-black border  border-spacing-1 rounded-lg  p-2 px-3 font-[500] text-base cursor-pointer font-serif;
    @apply hover:border-black;
  }

  .btn:hover{
    background-color: #fff !important;
    color: #000 !important;
  }
}
